In [18]:
import pandas as pd 
import numpy as np

In [19]:
df_reviews = pd.read_csv('reviews.csv')
df_movie_titles = pd.read_csv('movies.csv',index_col=False)

In [20]:
df = pd.merge(df_reviews, df_movie_titles, on='movieId')

In [26]:
df_ratings = pd.DataFrame(df.groupby('title')['rating'].mean())
df_ratings['number_of_ratings'] = df.groupby('title')['rating'].count()
df_ratings.head()

                                         rating  number_of_ratings
title
'71 (2014)                                  4.0                  1
'Hellboy': The Seeds of Creation (2004)     4.0                  1
'Round Midnight (1986)                      3.5                  2
'Salem's Lot (2004)                         5.0                  1
'Til There Was You (1997)                   4.0                  2

In [27]:
movie_matrix = df.pivot_table(index='userId', columns='title', values='rating')

In [28]:
Avatar_user_rating = movie_matrix['Avatar (2009)']
Avatar_user_rating = Avatar_user_rating.dropna()
Avatar_user_rating.head()

userId
10    2.5
15    3.0
18    4.0
21    4.0
22    3.5
Name: Avatar (2009), dtype: float64

In [29]:
similar_to_Avatar=movie_matrix.corrwith(Avatar_user_rating)

In [30]:
corr_Avatar = pd.DataFrame(similar_to_Avatar, columns=['correlation'])
corr_Avatar.dropna(inplace=True)

In [31]:
corr_Avatar = corr_Avatar.join(df_ratings['number_of_ratings'])
corr_Avatar.head()

                                   correlation  number_of_ratings
title
'burbs, The (1989)                    0.353553                 17
(500) Days of Summer (2009)           0.131120                 42
*batteries not included (1987)        0.785714                  7
10 Things I Hate About You (1999)     0.265637                 54
10,000 BC (2008)                     -0.075431                 17

In [32]:
Thor_user_rating = movie_matrix['Thor (2011)']
Thor_user_rating = Thor_user_rating.dropna()
Thor_user_rating

userId
18     3.5
62     4.0
68     3.5
73     5.0
106    4.0
125    3.0
139    2.0
177    4.0
184    3.0
246    4.0
249    4.0
274    2.0
291    4.0
292    4.0
298    3.5
332    3.5
339    2.5
344    4.0
380    5.0
414    3.0
432    4.0
448    2.5
475    5.0
489    3.0
509    3.5
525    3.0
534    3.5
550    4.0
561    4.0
567    1.5
573    4.5
596    3.5
599    2.5
610    3.5
Name: Thor (2011), dtype: float64

In [33]:
similar_to_Thor=movie_matrix.corrwith(Thor_user_rating)
similar_to_Thor

title
'71 (2014)                                        NaN
'Hellboy': The Seeds of Creation (2004)           NaN
'Round Midnight (1986)                            NaN
'Salem's Lot (2004)                               NaN
'Til There Was You (1997)                         NaN
                                               ...
eXistenZ (1999)                              0.917663
xXx (2002)                                   0.345586
xXx: State of the Union (2005)              -0.970725
¡Three Amigos! (1986)                        0.914659
À nous la liberté (Freedom for Us) (1931)         NaN
Length: 8747, dtype: float64

In [34]:
corr_Thor = pd.DataFrame(similar_to_Thor, columns=['correlation'])
corr_Thor.dropna(inplace=True)
corr_Thor = corr_Thor.join(df_ratings['number_of_ratings'])
corr_Thor.head()

                                   correlation  number_of_ratings
title
'burbs, The (1989)                    0.997176                 17
(500) Days of Summer (2009)           0.386820                 42
10 Things I Hate About You (1999)     0.273560                 54
10,000 BC (2008)                      0.245718                 17
101 Dalmatians (1996)                 0.089730                 47

In [35]:
corr_Thor[df_ratings['number_of_ratings'] > 100].sort_values(by='correlation', ascending=False).head(10)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,correlation,number_of_ratings
title,,
Stargate (1994),0.759494,140
Aladdin (1992),0.730377,183
Jurassic Park (1993),0.714481,238
"Lion King, The (1994)",0.710244,172
"Bourne Identity, The (2002)",0.705183,112
X-Men (2000),0.670755,133
Up (2009),0.665904,105
Batman Begins (2005),0.665208,116
Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001),0.658109,107
Men in Black (a.k.a. MIB) (1997),0.643894,165